.section-about {
  background-color: $color-grey-light;
  padding: 30rem 0;
  margin-top: -20vh;

  .paragraph {
    font-size: 1.6rem;

    &:not(:last-child) {
      margin-bottom: 3rem;
    }
  }
}