body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 1.6rem;
  line-height: 1.7;
  color: #777;
  padding: 3rem;
}

.heading-primary {
  color: $color-white;
  text-transform: uppercase;

  backface-visibility: hidden;
  margin-bottom: 6rem;

  &--main {
    display: block;
    font-size: 6rem;
    font-weight: 400;
    letter-spacing: 3.5rem;

    animation-name: moveInLeft;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }

  &--sub {
    display: block;
    font-size: 2rem;
    font-weight: 700;
    letter-spacing: 1.74rem;

    animation-name: moveInRight;
    animation-duration: 1s;
    animation-timing-function: ease-out;
  }
}

.heading-secundary {
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-transform: uppercase;
  background: linear-gradient(to right, $color-primary, $color-primary-dark);
  display: inline-block;

  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;

  transition: all .2;

  &:hover {
    transform: skew(-10deg, -8deg);
    text-shadow: 0 1rem 2rem rgba($color-black,.2);
  }
}
